@import url(//db.onlinewebfonts.com/c/6138beb83221f6eb46ed08543a304d1d?family=Twentieth+Century);

body {
  margin: 0;
  padding: 0;
  font-family: "TwentiethCentury";
}

/* FontSize  */
.fsize12 {
  font-size: 12px;
}
.fsize14 {
  font-size: 14px;
}
.fsize16 {
  font-size: 16px;
}
.fsize20 {
  font-size: 20px;
}
.fsize24 {
  font-size: 24px;
}
.fsize30 {
  font-size: 30px;
}
.fsize36 {
  font-size: 36px;
}
@media screen and (max-width: 768) and (min-width: 426) {
  .md-fsize12 {
    font-size: 12px;
  }
  .md-fsize14 {
    font-size: 14px;
  }
  .md-fsize16 {
    font-size: 16px;
  }
  .md-fsize20 {
    font-size: 20px;
  }
  .md-fsize24 {
    font-size: 24px;
  }
  .md-fsize36 {
    font-size: 36px;
  }
}
@media screen and (max-width: 425) {
  .sm-fsize12 {
    font-size: 12px;
  }
  .sm-fsize14 {
    font-size: 14px;
  }
  .sm-fsize16 {
    font-size: 16px;
  }
  .sm-fsize20 {
    font-size: 20px;
  }
  .sm-fsize24 {
    font-size: 24px;
  }
  .sm-fsize36 {
    font-size: 36px;
  }
}

.btnn {
  border: 2px solid black;
  padding: 5px 10px;
}

.btnn1 {
  border: 0.5px solid #dee2e6;
  padding: 0.5rem 1rem;
}

.h-500 {
  height: 500px;
}
.img {
  height: 400px;
  width: 100%;
}
.img-square {
  width: 220px;
  height: 220px;
}
.img-square:hover {
  transform: scale(1.03);
  transition: all 0.8s ease;
}

.hover:hover {
  background-color: rgb(109, 104, 104);
  color: white;
}

.borderr-black {
  border: 1.5px solid black;
}

.imo {
  width: 300px;
  height: 400px;
  background: url('/assets/Images/Boy1.webp') no-repeat;
  display: inline-block;
}

.imo:hover {
  background: url('/assets/Images/Boy4.webp') no-repeat;
  transition: all 0.8s ease;
}

.left-25 {  
    left: 25%;
}
.checked{
  color: orange;
}
